@use '@gear-js/ui/variables' as *;

.wallet {
  display: flex;
  align-items: center;
  position: relative;
}

.wallet p {
	margin: 0;
}

.wallet button {
	padding: 1rem;
	width: fit-content;
}

.balance {
  margin-right: 25px;
  font-size: $fontSizeMedium;
}

.currency {
  color: $textColorSecondary;
}
