@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

html, body, .App, #root {
  margin: 0;
  height: 100%;
}

.Options {
  text-align: left;
}

.Design {
  background: #c2e59c;
  background: -webkit-linear-gradient(
    to right,
    #0c3547,
    #3c98a3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0c3547,
    #3c98a3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 50%;
  display: flex;
  align-items: center;
}

.Design_user {
  background: #c2e59c; 
  background: -webkit-linear-gradient(to right, #0C3547, #3C98A3); 
  background: linear-gradient(to right, #0C3547, #3C98A3); 
  width: 100%;
  padding: 10%;
  align-items: center;
  color: white;
}

.Design_user img {
	display: inline;
}

.Logo {
  height: 60%;
  width: 90%;
}

.logo {
  max-width: 10rem;
  min-width: 7rem;
}

.form-control {
  font-size: 15px;
}

.slogan {
  font-size: 3rem;
  margin-top: 50%;
}

.sign_in {
  color: white;
  text-decoration: none;
}

.btn_login, .btn_back {
  background: #c2e59c;
  background: -webkit-linear-gradient(
    to right,
    #0c3547,
    #3c98a3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0c3547,
    #3c98a3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 1.3rem;
  color: white;
  border: 0;
  padding: 2% 15%;
  border-radius: 8px;
}

.btn_create {
  background: white;
  border: 2px solid #268598;
  border-radius: 8px;
  font-size: 1rem;
  color: black;
  transition-duration: 0.4s;
}

.sign_up,
.forgot {
  color: #268598;
}

.btn_create:hover {
  background: #268598;
  color: white;
}

.nav-link {
  color: #268598;
  font-size: 1.4rem;
  text-align: center;
  padding-right: 1rem;
}

.navbar_items {
  align-items: center;
  text-align: center;
  display: flex;
  padding-right: 18rem;
}

.navbar-toggler {
  margin: 1.5rem;
}

.navbar {
  text-align: center;
  align-items: center;
  padding-right: 1rem;
}

.carousel-item {
  height: 23rem;
  background: #777;
  color: white;
  position: relative;
  background-position: center;
  align-items: center;
  background-size: cover;
}

.container {
  position: absolute;
  align-items: end;
  text-align: center;
  padding-top: 18rem;
  font-size: 1rem;
}

.overlay-image {
  position:absolute;
  background-position: center;
  background-size: contain;
  opacity: 0.6;
}

.form {
  text-align: center;
  display: block;
  height: 60%;
  width: 90%;
  padding: 4% 10%;
}

.title h1{
  background: linear-gradient(#0c3547, #3c98a3);
  background-clip: text;
  color: transparent;
  font-size: 4rem;
  padding-bottom: 1rem;
  text-align: left;
}

.btn_buy {
  background: #268598;
  border: 2px solid #268598;
  border-radius: 8px;
  font-size: 1.1rem;
  padding: 1% 15%;
  color: white;
  transition-duration: 0.4s;
  align-items: center;
}

.btn_back {
	padding: 1rem 15%;
}

.part1 {
  text-align: left;
  background: #0c3547;
}

.part2 {
  text-align: right;
  height: 75%;
  align-items: center;
  padding: auto;
  display: block;
}

.slogan_principal{
  color: white;
  margin-left: 4rem;
  margin-top: 4rem;
  text-align: left;
  align-items: center;
  
}

.texto {
  color: white;
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-style: bold;
}

.text {
  color: #A88043;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-style: bold;
}

.testimonials {
  background: linear-gradient(#268598, #3c98a3);
  background-clip: text;
  color: transparent;
  font-size: 4rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Recompensa {
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
}

.menu {
	display: flex;
	flex-direction: column;
  border-radius: 10px;
  background-color: #eea63b;
  align-items: center;
  height: 100%;
  width: 20%;
  text-align: center;
}

.user {
  max-width: 9rem;
  min-width: 6rem;
  align-items: center;
  text-align: center;
}

.nav_link {
  background: #A88043;
  border-radius: 6px;
  font-size: 1.2rem;
  color: #ffc369;
  padding: 2% 15%;
  opacity: 0.7;
}

h3 {
  color: white;
}

.recom {
  max-width: 35%;
  background-color: white;
  text-align: left;
  display: inline-block;
}

.div_recom {
  min-width: 20%;
  display: flex;
}

.title_g{
  background: linear-gradient(to right, #c18c3c, #eea63b);
  background-clip: text;
  color: transparent;
  font-size: 4rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor {
  width: 100%;
}

.dropdownButton {
	text-align: center!important;
}
